# =====================
# Node dependencies
# =====================
node_modules
/.pnp
.pnp.js

# =====================
# Next.js build output
# =====================
/apps/frontend/.next/
/apps/frontend/out/
/apps/frontend/build/

# =====================
# Prisma
# =====================
/apps/backend/prisma/dev.db
/apps/backend/prisma/migrations/

# =====================
# Env files
# =====================
.env

# =====================
# Vercel
# =====================
.vercel

# =====================
# Testing / Coverage
# =====================
/coverage

# =====================
# Debug logs
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
nodemon-debug.log*

# =====================
# macOS / OS generated
# =====================
.DS_Store

# =====================
# TypeScript
# =====================
*.tsbuildinfo
/apps/frontend/next-env.d.ts
